body {
}

.loginsignup {
  transform: scale(1.5);
  align-self: center;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-top: 200;
  flex-wrap: wrap;
}

.tocent {
  margin-top: 12%;
  height: 100%;
  width: 100%;
}
