.special {
    font-family: 'Anton', sans-serif;
}

.curve-border {
    border-radius: 8px;
}

.flex-right {
    display: flex;
    margin-left: auto;
}

.flex-mid {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.flex-left {
    display: flex;
    margin-right: auto;
}

.fltr {
    border-radius: 5px;
}

.card {
    box-shadow: 1px 1px 1px 3px rgb(219, 219, 219);
}
.hidden {
    display: none;
}